<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="Copyright" content="畅读阁" />
  <meta name="keywords" content="免费阅读,在线阅读,免费小说,电子书,书籍,小说" />
  <meta name="description" content="畅读阁是一个提供各种热门电子书,书籍,小说免费在线阅读的网站，我们致力于为在线阅读提供良好的阅读体验" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
  <link rel="alternate" hreflang="zh-Hant" href="index.html" />
  <link rel="alternate" media="only screen and (max-width: 640px)" href="index.html" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit" />
  <title th:text="${chapter.name} + '_畅读阁'"></title>
  <link th:href="'/book/' + ${book.bookId} + '/' + ${chapter.id}" rel="canonical" />
  <meta name="keywords" th:content="${chapter.name}" />
  <meta name="description" th:content="${book.name} + '最新章节' + ${chapter.name} + '全文免费阅读'" />
<!--  <meta name="mobile-agent" content="format=html5;url=https://m.xbiquge.so/book/54510/39378099.html">-->
<!--  <meta name="mobile-agent" content="format=xhtml;url=https://m.xbiquge.so/book/54510/39378099.html">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="applicable-device" content="pc">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/read.css" />
  <script type="text/javascript" src="/js/jquery191.min.js"></script>
  <script type="text/javascript" src="/js/common.js"></script>
<!--  <script>-->
<!--    Go("https://m.xbiquge.so/book/54510/39378099.html");-->
<!--  </script>-->
</head>

<body>
<div id="wrapper">
  <div class="content_read">
    <div id="box_con">
      <div class="con_top">
        <div class="fr">
          <span id="readtools">
            <script type="text/javascript">
                ReadOptions();
            </script>
          </span>
        </div>
        <a href="/index">畅读阁</a> &gt;
        <a th:href="'/book/' + ${book.bookId}" th:text="${book.name}">风起龙城</a> &gt;
        <span th:text="${chapter.name}"></span>
      </div>
      <div class="bookname">
        <h1 th:text="${chapter.name}"> </h1>
        <div class="read-titlelinke">
          <span th:text="'作者：' + ${book.author}"></span>
          <a class="mulu" th:href="'/book/' + ${book.bookId}">返回目录</a>
        </div>
      </div>
      <div style="text-align: center;">
        <div class="top-read-ad">
          <script>
            jx();
          </script>
        </div>
        <div class="top-read-ad">
          <script>
            jx();
          </script>
        </div>
        <div class="top-read-ad">
          <script>
            jx();
          </script>
        </div>
        <div class="clear"></div>
      </div>
      <div id="content" name="content">
        <div th:each="con:${chapter.cons}" th:text="${con}"></div>
      </div>
      <center class="clear">
        <script>
          hf();
        </script>
      </center>
      <div class="bottem">
        <a th:href="'/book/' + ${book.bookId} + '/' + ${pre.id}" id="link-preview">上一章</a>
        <a th:href="'/book/' + ${book.bookId}" id="link-index" th:title="${book.name} + '章节目录'">章节目录</a>
        <a th:href="'/book/' + ${book.bookId} + '/' + ${next.id}" id="link-next">下一章</a>
<!--        <a href="javascript:;" onclick="addbookcasemark('54510','39378099');">加入书签</a></div>-->
      <script>
        readtip();
      </script>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/read.js"></script>
</body>

</html>