<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="csu.gra.novel.mapper.BookMapper">
    <update id="updateBook">
        UPDATE book
        SET name=#{name}, description=#{description}, author=#{author}, category=#{category}, updated=#{updated}, hot=#{hot}, status=#{statusCode}, word=#{word}, cover = #{cover}
        WHERE id = #{bookId}
    </update>
    <select id="selectCurrentBook" resultType="Book">
        SELECT id as bookId, name, description, author, category, updated, cover, hot, status as statusCode, word
        FROM book
        <if test="num != 0">
            limit 0, #{num}
        </if>
    </select>
    <select id="selectBooksByCategory" resultType="Book">
        SELECT id as bookId, name, description, author, category, updated, cover, hot, status as statusCode, word
        FROM book
        WHERE category = #{category}
        <if test="num != 0">
            limit 0, #{num}
        </if>
    </select>
    <select id="selectBooksByPage" resultType="Book">
        SELECT id as bookId, name, description, author, category, updated, cover, hot, status as statusCode, word
        FROM book
        <if test="category != null and category != ''">
            WHERE category = #{category}
            <if test="state == 2">
                AND status = 0
            </if>
            <if test="state == 1">
                AND status = 1
            </if>
        </if>
        <if test="category == null or category == ''">
            <if test="state == 2">
                WHERE status = 0
            </if>
            <if test="state == 1">
                where status = 1
            </if>
        </if>
        limit #{num1}, #{num2}
    </select>
    <select id="getBookById" resultType="csu.gra.novel.domain.Book">
        SELECT id as bookId, name, description, author, category, updated, cover, hot, status as statusCode, word
        FROM book WHERE id = #{id}
    </select>
    <select id="getChaptersByBookId" resultType="csu.gra.novel.domain.Chapter">
        SELECT id, bookid AS bookId, name, content FROM chapter WHERE bookid = #{bookId}
    </select>
    <select id="getTopList" resultType="csu.gra.novel.domain.Book">
        SELECT book.id as bookId, name, description, author, category, updated, cover, hot, status as statusCode, word
        FROM book , top
        WHERE book.id = top.bookId
        <if test="num != 0">
            limit 0, #{num}
        </if>
    </select>
</mapper>