@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

[lang="zh-Hans"] body {
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, Arial, 'Microsoft YaHei', '微软雅黑', 'SimSun', '宋体', sans-serif;
}

[lang="zh-Hant"] body {
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, Arial, 'Microsoft JhengHei', '微軟正黑體', 'PMingLiU', '新細明體', sans-serif;
}

body {
    font-size: 14px;
    min-width: 980px;
}

ul {
    list-style: none;
}

input,
button {
    outline: none;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

a:active {
    color: #1bb582;
}

img {
    border: 0;
}

.mask {
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(/images/loading.svg) no-repeat center;
    z-index: 8;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

.mask2 {
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-attachment: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

.head {
    height: 88px;
    background: #1bb582;
    overflow: hidden;
}

.head #title a {
    font-size: 48px;
    color: #ffffff;
    margin: 14px 0 0 50px;
    float: left;
}

.head #search_box {
    margin-left: 220px;
    margin-top: 37px;
}

.head #search_box #keyword {
    border: 1px solid #17966c;
    width: 445px;
    height: 16px;
    padding: 8px 0 8px 10px;
    line-height: normal;
    vertical-align: middle;
}

.head #search_box #search_b {
    border: 1px solid #17966c;
    height: 34px;
    line-height: 34px;
    width: 100px;
    background: #1aae7d;
    cursor: pointer;
    color: #fff;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 15px;
}

.head #search_box #search_b:hover {
    background: #189e71;
}

.menu {
    padding-left: 30px;
    height: 39px;
    background: #1bb582;
    font-size: 16px;
}

.menu a {
    color: #fff;
    padding: 0 15px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    border: 1px solid #1bb582;
}

.menu a:hover {
    border: 1px solid #17976c;
    background: #189e71;
    color: #fff;
}

.menu a:visited {
    color: #fff;
}

.body {
    width: 960px;
    margin: 20px auto;
    overflow: hidden;
}

.foot {
    height: 90px;
    text-align: center;
    border-top: 2px solid #189e71;
    padding-top: 45px;
    margin-top: 15px;
}

.foot p {
    margin-top: 10px;
}

.scrolltop {
    position: fixed;
    bottom: 200px;
    width: 50px;
    height: 50px;
    background: #eee url(/images/hetu.png) no-repeat -71px -123px;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.scrolltop:hover {
    background-color: #1bb582;
}

#message {
    position: fixed;
    _position: absolute;
    padding: 5px 10px;
    background: #406080;
    top: 30%;
    left: 50%;
    color: #fff;
    border-radius: 4px;
    box-shadow: 4px 4px 4px #999;
}

#hetu,
#hetu97,
#hetu30 {
    display: block;
    text-align: center;
}

.edition {
    position: absolute;
    top: 5px;
    right: 40px;
    color: #fff;
}

.edition a {
    color: #fff;
}

.qrcodebox {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.qrcodebox .arrow {
    height: 6px;
    width: 9px;
    background: url(/images/hetu.png) no-repeat -100px -53px;
    position: absolute;
    font-size: 0;
    top: 0;
}

.qrcodebox .imgbox {
    border: 1px solid #bfbfbf;
    margin-top: 5px;
}

.qrcodebox .imgbox img {
    display: block;
}

.sharebox {
    overflow: hidden;
}

.sharebox span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/images/share.png) no-repeat;
    margin-right: 8px;
    cursor: pointer;
    vertical-align: top;
}

.sharebox span:hover {
    opacity: .5;
}

.sharebox .tsina {
    background-position: 0 -27px;
}

.sharebox .qq {
    background-position: 0 -54px;
}

.sharebox .douban {
    background-position: 0 -81px;
}

.sharebox .weixin {
    background-position: 0 -108px;
}

.weixinshare {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px;
    border: 1px solid #bbb;
    color: #666;
    font-size: 0.9em;
    z-index: 2;
}

.weixinshare .close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    right: 8px;
    background: url(/images/hetu.png) no-repeat 4px -139px;
    cursor: pointer;
}

.weixinshare .qrcode {
    text-align: center;
}

.sharebox16 span {
    width: 16px;
    height: 16px;
}

.sharebox16 .qzone {
    background-position: 0 -135px;
}

.sharebox16 .tsina {
    background-position: 0 -154px;
}

.sharebox16 .qq {
    background-position: 0 -173px;
}

.sharebox16 .douban {
    background-position: 0 -192px;
}

.sharebox16 .weixin {
    background-position: 0 -211px;
}