<!DOCTYPE HTML>
<html lang="zh-Hans">

<head>
    <meta charset="utf-8" />
    <meta name="Copyright" content="畅读阁" />
    <meta name="keywords" content="免费阅读,在线阅读,免费小说,电子书,书籍,小说" />
    <meta name="description" content="畅读阁是一个提供各种热门电子书,书籍,小说免费在线阅读的网站，我们致力于为在线阅读提供良好的阅读体验" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="alternate" hreflang="zh-Hant" href="index.html" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="index.html" />
    <link type="text/css" rel="stylesheet" href="/css/changdu.css" />
    <link type="text/css" rel="stylesheet" href="/css/list.css" />
    <style type="text/css">
        .list dt {
            border-bottom: 1px solid #e6e6e6;
            margin-top: 40px;
        }

        #body dt span {
            font-size: 30px;
            color: #189e71;
            border-bottom: 2px solid #1bb582;
            padding: 5px 25px;
            display: inline-block;
            margin-bottom: -1px;
        }

        .list dd {
            position: relative;
        }

        .list dd .list-num,
        .list dd .list-num2 {
            width: 25px;
            height: 25px;
            text-align: center;
            font-size: 12px;
            line-height: 25px;
            position: absolute;
            top: 20px;
            left: 0;
            background: #3ac196;
            color: #fff;
        }

        .list dd .list-num2 {
            background: #ebebeb;
            color: #000;
        }
    </style>
    <title>榜单_畅读阁</title>
</head>

<body>
<div th:include="common/header :: header"></div>
<dl class="list" id="body">
    <dt><span>榜单</span></dt>
    <dd th:each="book, iterStat:${topList}">
        <a th:href="'/book/' + ${book.bookId}">
            <img th:src="${book.cover}" alt=""/>
        </a>
        <span th:class="list-num" th:text="${iterStat.index}"></span>
        <h4><a th:href="'/book/' + ${book.bookId}" th:text="${book.name}"></a><span th:text="'/ ' + ${book.author} + ' /'"></span></h4>
        <div class="intro" th:text="${book.description}"></div>
    </dd>
<!--    <dd><a href="/book/970/index.html"><img src="/book/cover.pic/cover_970.jpg" /></a><span-->
<!--            class="list-num">1</span>-->
<!--        <h4 style=""><a href="/book/970/index.html">问鼎</a><span>/ 何常在 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>《问鼎》是何常在所著一部官场类小说，连载时原名《官神》，现改名为《问鼎》集结出版。</p>-->
<!--            <p>为官者达到举重若轻、点石成金、出神入化的境界，是为官神。</p>-->
<!--            <p>慧眼看红尘，做官如有神。</p>-->
<!--            <p>重生的夏想站在大学毕业的路口，回味错过的人生，珍惜眼前的时机，他要自己规划自己的人生，从县委书记秘书起步，官运亨通，步步高升，跑步进入了官场。</p>-->
<!--            <p>免责声明：如果与现实有雷同之处，可以理解为绝对巧合，也可以理解为是平行空间的影射，请勿对号入座。</p>-->
<!--        </div>-->
<!--        <div><a href="/book/970/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                         onclick="bookfavorite.add('book',970)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/1311/index.html"><img src="/book/cover.pic/cover_1311.jpg" /></a><span-->
<!--            class="list-num">2</span>-->
<!--        <h4 style=""><a href="/book/1311/index.html">国医高手</a><span>/ 石章鱼 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>本书原名《医道官途》，出版时改名为《国医高手》。</p>-->
<!--            <p>几乎所有人都知道隋末第一条好汉是李元霸，却没几个知道隋末第一圣手是张一针。</p>-->
<!--            <p>张一针不是个英雄，虽然医术高超，可是从来不做没有回报的事情,张一针治好的富人多，基本上都是给了银子的，张一针治好的女人多，对于这种不良医生野史都羞于记载。</p>-->
<!--            <p>张一针死的很惨，武功已臻化境的他先是喝下隋炀帝的毒酒，然后被一名御林军乱箭攒心,起因却是他不计报酬的救活了隋炀帝难产的贵妃，所以他很感到很冤枉，做好事救了母子两条命，竟然落到这个结局，真是千古奇冤。-->
<!--            </p>-->
<!--            <p>后世科学证明，怨气的能量可以穿越时空，是为怨气冲天，所以张一针同志也成为千百万穿越众中的一员，很幸运的穿越了。</p>-->
<!--        </div>-->
<!--        <div><a href="/book/1311/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',1311)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd>-->
<!--        <script async-->
<!--                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4166898652148554"-->
<!--                crossorigin="anonymous"></script>-->
<!--        <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-ez-1u+35-lr+132"-->
<!--             data-ad-client="ca-pub-4166898652148554" data-ad-slot="4609008164"></ins>-->
<!--        <script>-->
<!--            (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--        </script>-->
<!--    </dd>-->
<!--    <dd><a href="/book/1737/index.html"><img src="/book/cover.pic/cover_1737.jpg" /></a><span-->
<!--            class="list-num">3</span>-->
<!--        <h4 style=""><a href="/book/1737/index.html">运途</a><span>/ 何常在 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>本书是何常在所著一部官场类小说，原名《官运》，出版时改名为《运途》。</p>-->
<!--            <p>官运之道，三分运气，五分背景，七分运作。</p>-->
<!--            <p>升迁速度，可由背景决定。位置高低，也在能力学历。台前幕后，尽在运作之术。高材生关允初入官海，不缺学历不缺能力，独缺背景。他凭借三分运气，不需五分背景，只靠七分运作，又遇高人指点，终于得以参悟官场三昧，最终以一介平民之身，成为别人争相靠拢的背景。-->
<!--            </p>-->
<!--            <p>时运有高低，官运有浮沉，但若是悟性通达，运作通透，时运必然好运，官运自然亨通。</p>-->
<!--            <p>关允大学毕业后被分配到老家孔县，担任了县长冷枫的通讯员，殊不知早有人起意打压，使他坐了整整一年的“冷板凳”，直到遇到神秘莫测的世外高人老容头，事情才有了转机。-->
<!--                平静多年的孔县要上马流沙河大坝项目，县委顿时乱成一片，各种“较量”随之上演。然而，一波未平一波又起，小小的孔县云谲波诡，局势变幻莫测，竟牵动多方势力。备受冷落的关允，在老容头的“指点”下，和三个好哥们儿并肩作战，凭借三分运气加七分运作，在乱局中迅速崛起。读史练字，开发平丘山，匡助县长冷枫，智斗县委副书记李永昌，结识市委书记蒋雪松，一系列事情有条不紊，孔县的局面不知不觉发生了微妙的变化……-->
<!--            </p>-->
<!--        </div>-->
<!--        <div><a href="/book/1737/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',1737)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/1885/index.html"><img src="/book/cover.pic/cover_1885.jpg" /></a><span-->
<!--            class="list-num2">4</span>-->
<!--        <h4 style=""><a href="/book/1885/index.html">掌舵者</a><span>/ 瑞根 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>本书原名《弄潮》，出版时改名为《掌舵者》。</p>-->
<!--            <p>本书为作者瑞根20年工作经验的精华和结晶，是他对社会人生的感悟和观察思考。</p>-->
<!--            <p>赵国栋巧遇即将上任的市公安局局长刘兆国。刘兆国慧眼识珠，把他带入官场朋友圈中。善于官场周旋的赵国栋，运用过人的智慧和非凡的手腕，与他的朋友们相濡以沫，共同奋斗，步步升迁，获得了更大的人生舞台。</p>-->
<!--            <p>人情练达的赵国栋，同时也是一条情感丰富、敢作敢为的汉子，使爱慕他的女子情有独钟……</p>-->
<!--            <p>在三十年波澜壮阔的大潮中，赵国栋不愧为充满智慧的掌舵者，他凭借着过人的胆识和骄人的政绩，从一个籍籍无名的基层民警，一路升迁为安原省省委要员。</p>-->
<!--            <p>赵国栋不愧为弄潮高手，在官场、商场、股市、情场中弄潮搏击，有勇有谋，手段高超，稳操胜券。为时代所眷顾，为命运所垂爱，成为时代的幸运者！</p>-->
<!--        </div>-->
<!--        <div><a href="/book/1885/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',1885)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/4313/index.html"><img src="/book/cover.pic/cover_4313.jpg" /></a><span-->
<!--            class="list-num2">5</span>-->
<!--        <h4 style=""><a href="/book/4313/index.html">人渣反派自救系统</a><span>/ 墨香铜臭 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>身为《狂傲仙魔途》的资深读者，沈垣对这篇文是大大的不满。</p>-->
<!--            <p>“傻逼作者傻逼文！”临终前他骂了这么一句，于是──</p>-->
<!--            <p>【启动码：傻逼作者傻逼文。自动触发系统。】</p>-->
<!--            <p>他重生到一本自己刚读完还嫌弃过的暗黑系种马小说了！</p>-->
<!--            <p>而且天杀的，他的角色还是男主角那位人渣反派师尊沈清秋！</p>-->
<!--            <p>说到沈清秋，虽然有外表、有修为，但为人还真是格外没品。</p>-->
<!--            <p>欺负打压男主角不说，还残害同门，道貌岸然，内心淫邪……</p>-->
<!--            <p>这样一个坏到天怒人怨的角色，在原著里的下场当然是凄惨的，</p>-->
<!--            <p>男主角洛冰河最后会把他削成人棍啊我的妈，他不想死得这么惨啊！</p>-->
<!--            <p>于是乎，新生的沈清秋开始了避免惨死结局的艰苦之路，</p>-->
<!--            <p>因为他要保命，但却不能违反各种系统设定！</p>-->
<!--            <p>虽然艰辛，但他要趁徒弟还是可爱小绵羊的时候就开始刷好感度，</p>-->
<!--            <p>以免后期黑化的洛冰河称霸后，会回来报复自己。</p>-->
<!--            <p>只是，沈清秋这好感度可能刷过头了，</p>-->
<!--            <p>他没发现洛冰河看他的目光，好像，有那么点不一样了……</p>-->
<!--        </div>-->
<!--        <div><a href="/book/4313/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',4313)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/1671/index.html"><img src="/book/cover.pic/cover_1671.jpg" /></a><span-->
<!--            class="list-num2">6</span>-->
<!--        <h4 style=""><a href="/book/1671/index.html">龙战在野</a><span>/ 黄易 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>皇权争斗，异族野望，塞外遍地烽火</p>-->
<!--            <p>仙门系谱，魔道渊源，穷究武道极致</p>-->
<!--            <p>女帝与邪帝的权力争斗告一段落，</p>-->
<!--            <p>历史的巨轮却依旧转动不息。</p>-->
<!--            <p>因着中宗的回朝，女帝渐被孤立，</p>-->
<!--            <p>龙鹰的生命也起了翻天覆地的大变化，</p>-->
<!--            <p>“大周国宾”的风光日子一去不返，</p>-->
<!--            <p>唯有再战于野，方能于无边无际的惊涛骇浪中力挽狂澜。</p>-->
<!--            <p>荒漠古道、异族环伺，</p>-->
<!--            <p>五百精骑，踏上精采征途。</p>-->
<!--            <p>新的传奇，由此展开！</p>-->
<!--        </div>-->
<!--        <div><a href="/book/1671/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',1671)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/1755/index.html"><img src="/book/cover.pic/cover_1755.jpg" /></a><span-->
<!--            class="list-num2">7</span>-->
<!--        <h4 style=""><a href="/book/1755/index.html">撼天</a><span>/ 一叶青天 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>循声望去，一座老旧的建筑物耸立在小镇最东头，和附近富丽堂皇的建筑物相比，这座占地百丈的建筑物显得孤立无群。宽阔的府门紧闭，无护卫看守。</p>-->
<!--            <p>上面刻着四个古字：龙星武馆。</p>-->
<!--            <p>庭院中，一少年赤裸着上身，口鼻不断喘出粗气，他手里握着一把巨大的铁锤，少年轮动手中漆黑的铁锤，缓慢敲打在铁砧之上。</p>-->
<!--            <p>……</p>-->
<!--            <p>祖龙出，九阴现，阴阳交泰，毁灭无极。混沌神像，震古烁今，演无上战力，睥睨九天！</p>-->
<!--            <p>当那铁戈的鼓鸣声从遥远的大荒敲响之刻，能否唤醒沉睡的战魂！？</p>-->
<!--            <p>魔掌乾坤，神掌阴阳，力之极可撼动九天！问苍茫大地，谁主沉浮？</p>-->
<!--        </div>-->
<!--        <div><a href="/book/1755/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',1755)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/2059/index.html"><img src="/book/cover.pic/cover_2059.jpg" /></a><span-->
<!--            class="list-num2">8</span>-->
<!--        <h4 style=""><a href="/book/2059/index.html">官道无疆</a><span>/ 瑞根 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>讲述了在改革开放时代，“陆为民”从分配失败到人生崛起，跌宕起伏、峰回路转的故事。</p>-->
<!--            <p>自信人生二百年，会当击水三千里！</p>-->
<!--            <p>当改革开放的时代大潮来袭，陆为民该如何重掌这人生际遇？</p>-->
<!--            <p>从毕业分配失意到自信人生的崛起，诡谲起伏的人生，沉浮跌宕的官场，一步一个脚印，抓住每一个机会，大道无形，行者无疆，漫漫官道，唯有胸怀天地，志存高远，方能直抵彼岸。</p>-->
<!--        </div>-->
<!--        <div><a href="/book/2059/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',2059)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/2448/index.html"><img src="/book/cover.pic/cover_2448.jpg" /></a><span-->
<!--            class="list-num2">9</span>-->
<!--        <h4 style=""><a href="/book/2448/index.html">我的奇妙男友</a><span>/ 水阡墨 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>“你走过五百年，经历了沧海桑田历史变迁，最后走到了我的面前。你偏偏，走到了我的面前。”</p>-->
<!--            <p>田净植倒了二十八年的霉，突然时来运转，从一场车祸中死里逃生。果然，好运都是要付出代价的，她招惹到了一个奇怪的玩意儿——薛灵乔，一个以美貌惊天下的极品小鲜肉。而实际上，他不老不死，是一个活了五百多岁的老妖怪。-->
<!--            </p>-->
<!--            <p>他说她的血救活了他，她跟他有了最亲密的“血缘”关系，所以他即使不情愿也会护她一世周全。</p>-->
<!--            <p>有这样一个奇妙的男人陪在身边，有他用生命来守护她，霉运带来的大小祸事，开始变得不值一提。</p>-->
<!--            <p>如果倒霉是一种永远都不会错过的运气，那么薛灵乔会让你相信，不会错过的运气也会变成好运，给你带来意想不到的奇遇。</p>-->
<!--        </div>-->
<!--        <div><a href="/book/2448/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',2448)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/171/index.html"><img src="/book/cover.pic/cover_171.jpg" /></a><span-->
<!--            class="list-num2">10</span>-->
<!--        <h4 style=""><a href="/book/171/index.html">全职高手</a><span>/ 蝴蝶蓝 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>网游荣耀中被誉为教科书级别的顶尖高手叶秋（真名：叶修），因为种种原因遭到俱乐部的驱逐，离开职业圈的他寄身于一家网吧成了一个小小的网管，但是，拥有十年游戏经验的他，在荣耀新开的第十区重新投入了游戏，带着对往昔的回忆，和一把未完成的自制武器，开始了重返巅峰之路。-->
<!--            </p>-->
<!--            <p>勾心斗角之后，谁夺走了我的荣耀，风雨飘摇之下，希望却不曾破灭。花团锦簇之中，没有迷失了方向。万众瞩目之前，我，就在这里回归了！</p>-->
<!--        </div>-->
<!--        <div><a href="/book/171/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                         onclick="bookfavorite.add('book',171)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/1044/index.html"><img src="/book/cover.pic/cover_1044.jpg" /></a><span-->
<!--            class="list-num2">11</span>-->
<!--        <h4 style=""><a href="/book/1044/index.html">兵</a><span>/ 最后一名 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>一部贯穿抗战、内战、朝战及台海战的故事，一个辛酸而又悲怆的老兵经历，一段那个无情岁月里却有情的传奇。</p>-->
<!--            <p>我们不是英雄，却胜似英雄，炮火再猛，也要往前冲。</p>-->
<!--            <p>硝烟的战场，只有血雨腥风！逝去了脆弱的生命，换取渴望，你可曾懂？</p>-->
<!--            <p>本书完全为杜撰，并非历史，请各位看官切莫对号入座。</p>-->
<!--        </div>-->
<!--        <div><a href="/book/1044/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',1044)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/885/index.html"><img src="/book/cover.pic/cover_885.jpg" /></a><span-->
<!--            class="list-num2">12</span>-->
<!--        <h4 style=""><a href="/book/885/index.html">美女图</a><span>/ 我是多余人 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>《美女图》又名《上古强身术》，是网络写手我是多余人玄幻类小说，已完结。</p>-->
<!--            <p>一个带着上古强身术和养生之道一系列辅助性的功法的人穿越到九州大陆，他是否能站在这世界的顶端，十二张美女图代表这个世界的十二个最风华绝代的女子！</p>-->
<!--            <p>带你走进一个美女的世界！倾国倾城、绝代芳华、素衣清雅、不食烟火、丰姿绰约、雍容华贵、风华绝代！</p>-->
<!--            <p>炼药术中的五龙丹、小还丹、金香玉、蛇蝎美人……以及传说中的九转还魂丹和佛光舍利子这种逆天丹药是真的存在吗？</p>-->
<!--            <p>意外的得到阴阳玉佩，没想到内有乾坤，其中的紫玉仙境可以让外面的药草在其中生长速度快上百倍，千年药草只需十年！</p>-->
<!--        </div>-->
<!--        <div><a href="/book/885/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                         onclick="bookfavorite.add('book',885)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/3596/index.html"><img src="/book/cover.pic/cover_3596.jpg" /></a><span-->
<!--            class="list-num2">13</span>-->
<!--        <h4 style=""><a href="/book/3596/index.html">媚者无疆</a><span>/ 半明半寐 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>●题材：古装类 奇幻情色小说</p>-->
<!--            <p>●一句话介绍：用身体丈量世界，有男人的地方就是她的乐土。</p>-->
<!--            <p>●关键词：情色，惊悚，人性、悬疑</p>-->
<!--            <p>●内容预鉴：</p>-->
<!--            <p>从小境遇坎坷的骆雪，在被臭名昭著的晋城四少侮辱之后被被鬼门门主救下，经过重重险恶的磨练从此成为鬼门的一名杀手——晚媚。</p>-->
<!--            <p>在充满杀戮和仇恨的生活中，影子小三是晚媚唯一的寄托，性格直接却残忍暴躁的鬼门门主姹萝、温和的堂主刑风，霸气凌厉的神秘公子……每一个人都可能是她生命的掌舵者或者是终结者、每一次刺杀都可能让她在瑰丽之地命丧黄泉。在黑暗血腥的日子中，颠倒众生的晚媚爱上了影子小三，期望能得到心中渴望的爱情和自由。但是在人欲横流、惊心动魄的鬼门之夜中，她的愿望能实现吗？她的人性会被暗无天日的鬼门泯灭吗？她的命运究竟会走向何方……-->
<!--            </p>-->
<!--        </div>-->
<!--        <div><a href="/book/3596/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',3596)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/137/index.html"><img src="/book/cover.pic/cover_137.jpg" /></a><span-->
<!--            class="list-num2">14</span>-->
<!--        <h4 style=""><a href="/book/137/index.html">宝鉴</a><span>/ 打眼 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>本书是对《典当》（黄金瞳）及《天才相师》的一次超越。在内容上，它囊括了之前作品对古玩，占卜，相术等一系列的民间绝艺，提出了外八门（千门、盗门、索命门、兰花门、神调门、蛊门、红手绢、机关门）的宏观概念，让小说知识更丰富，更有趣；在主题上，它更是触摸人性，直击灵魂，让整部小说的档次都得到了提升。-->
<!--            </p>-->
<!--            <p>一局安百变，叵测是人心！ 三教九流，五行三家，尽在《宝鉴》中！</p>-->
<!--        </div>-->
<!--        <div><a href="/book/137/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                         onclick="bookfavorite.add('book',137)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/853/index.html"><img src="/book/cover.pic/cover_853.jpg" /></a><span-->
<!--            class="list-num2">15</span>-->
<!--        <h4 style=""><a href="/book/853/index.html">百炼成仙</a><span>/ 幻雨 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>仙路崎岖，百般磨炼终成正果！</p>-->
<!--            <p>一个没有灵根的少年，一个被认为是废物的家伙，在修真界不断地收购着各种废品……</p>-->
<!--            <p>无论是废丹还是下品材料，来者不拒，有多少要多少！</p>-->
<!--        </div>-->
<!--        <div><a href="/book/853/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                         onclick="bookfavorite.add('book',853)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/17/index.html"><img src="/book/cover.pic/cover_17.jpg" /></a><span-->
<!--            class="list-num2">16</span>-->
<!--        <h4 style=""><a href="/book/17/index.html">斗破苍穹</a><span>/ 天蚕土豆 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>这里是属于斗气的世界，没有花俏艳丽的魔法，有的，仅仅是繁衍到巅峰的斗气！小说人物等级制度：斗者，斗师，大斗师，斗灵，斗王，斗皇，斗宗，斗尊，斗圣，斗帝。　</p>-->
<!--            <p>萧炎，主人公，萧家历史上空前绝后的斗气修炼天才。4岁就开始修炼斗之气，10岁拥有了九段斗之气，11岁突破十段斗之气，一跃成为家族百年来最年轻的斗者。然而在12岁那年，他却“丧失”了修炼能力，只拥有三段斗之气。整整三年时间，家族冷遇，旁人轻视，被未婚妻退婚……种种打击接踵而至。-->
<!--            </p>-->
<!--            <p>就在他即将绝望的时候，一缕幽魂从他手上的戒指里浮现，一扇全新的大门在面前开启！萧炎重新成为家族年轻一辈中的佼佼者，受到众人的仰慕，他却不满足于此。为了一雪退婚带来的耻辱，萧炎来到了魔兽山脉，在药老的帮助下，进一步提升自己的修炼级别……在魔兽山脉，他结识了小医仙。他面向的世界更加宽广了。-->
<!--            </p>-->
<!--            <p>三十年河东，三十年河西，莫欺少年穷！ 年仅15岁的萧家废物，于此地，立下了誓言，从今以后便一步步走向斗气大陆巅峰！</p>-->
<!--            <p>总算是结束了，末了留了一个另外的悬念，萧炎的血是热的，安静的生活，并不适合他的骨子，留下的悬念，就当为了让他有着征战的理由。</p>-->
<!--        </div>-->
<!--        <div><a href="/book/17/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                        onclick="bookfavorite.add('book',17)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/5065/index.html"><img src="/book/cover.pic/cover_5065.jpg" /></a><span-->
<!--            class="list-num2">17</span>-->
<!--        <h4 style=""><a href="/book/5065/index.html">偏偏宠爱</a><span>/ 藤萝为枝 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>《偏偏宠爱》是藤萝为枝所著的一部现代言情小说，连载时原名《病态宠爱》，出版时改名为《偏偏宠爱》。</p>-->
<!--            <p>孟听的身边有一位名为江忍的骑士。</p>-->
<!--            <p>这个骑士不温柔、不绅士、不优雅，</p>-->
<!--            <p>但却永远在她*需要的时候陪伴在她身边，</p>-->
<!--            <p>为她披荆斩棘，为她拼尽全力，为她不顾一切。</p>-->
<!--            <p>这个公主美丽、善良、优秀，闪闪发光，</p>-->
<!--            <p>她有一颗温柔的心，</p>-->
<!--            <p>即使他在旁人眼里偏执又怪异，她依然温和，从不会看轻他、嫌弃他。</p>-->
<!--            <p>现实中，江忍用自己最直白也最赤诚的爱，俘获了孟听的心。</p>-->
<!--            <p>他桀骜不驯、一身反骨，不把一切放在眼里，却偏偏将她放在心上。</p>-->
<!--        </div>-->
<!--        <div><a href="/book/5065/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',5065)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/1219/index.html"><img src="/book/cover.pic/cover_1219.jpg" /></a><span-->
<!--            class="list-num2">18</span>-->
<!--        <h4 style=""><a href="/book/1219/index.html">叛徒</a><span>/ 中秋月明 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>在举世瞩目的北非政变中，</p>-->
<!--            <p>一个倒霉的小雇佣兵和那支小小的雇佣军一起被出卖，</p>-->
<!--            <p>呼啸穿刺的弹雨，漫漫黄沙，烧焦的肢干，都让齐天林发誓要抓住那个叛徒！</p>-->
<!--            <p>茫茫人海世界那么大，那里去找那杳无音信的一点线索？</p>-->
<!--            <p>生活中也不只有仇恨，还有爱情，阴谋，奇遇，忠诚和热血！</p>-->
<!--            <p>这一切，都交织在齐天林的传奇探索经历当中！</p>-->
<!--        </div>-->
<!--        <div><a href="/book/1219/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',1219)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/1799/index.html"><img src="/book/cover.pic/cover_1799.jpg" /></a><span-->
<!--            class="list-num2">19</span>-->
<!--        <h4 style=""><a href="/book/1799/index.html">帝凰之神医弃妃</a><span>/ 阿彩 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>大婚当天，她在郊外醒来，衣衫褴褛，在众人的鄙夷下，一步一个血印踏入皇城……</p>-->
<!--            <p>她是无父无母任人欺凌的孤女，他是一人之下万人之上的铁血王爷。她满身是伤，狼狈不堪。他遗世独立，风华无双。她卑微伏跪，他傲视天下。</p>-->
<!--            <p>如此天差地别的两人，却阴差阳错地相遇……</p>-->
<!--            <p>一件锦衣，遮她一身污秽，换她一世情深。</p>-->
<!--            <p>21世纪天才女军医将身心托付，为这铁血王爷风华天下、舔刃饮血、倾尽一切，只求此生结发为夫妻，恩爱两不疑，却不想生死关头，他却挥剑斩断她的生路……</p>-->
<!--            <p>医者：下医医病，中医医人，上医医国。</p>-->
<!--            <p>神医凤轻尘，以医术救人治国平天下的传奇！</p>-->
<!--        </div>-->
<!--        <div><a href="/book/1799/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                          onclick="bookfavorite.add('book',1799)">加入书架</span></div>-->
<!--    </dd>-->
<!--    <dd><a href="/book/952/index.html"><img src="/book/cover.pic/cover_952.jpg" /></a><span-->
<!--            class="list-num2">20</span>-->
<!--        <h4 style=""><a href="/book/952/index.html">斗罗大陆II绝世唐门</a><span>/ 唐家三少 /</span></h4>-->
<!--        <div class="intro">-->
<!--            <p>这里没有魔法，没有斗气，没有武术，却有武魂。唐门创立万年之后的斗罗大陆上，唐门式微。一代天骄横空出世，新一代史莱克七怪能否重振唐门，谱写一曲绝世唐门之歌？</p>-->
<!--            <p>百万年魂兽，手握日月摘星辰的死灵圣法神，导致唐门衰落的全新魂导器体系。一切的神奇都将一一展现。</p>-->
<!--            <p>唐门暗器能否重振雄风，唐门能否重现辉煌，一切尽在绝世唐门！</p>-->
<!--        </div>-->
<!--        <div><a href="/book/952/index.html" class="button">免费阅读</a><span class="button"-->
<!--                                                                         onclick="bookfavorite.add('book',952)">加入书架</span></div>-->
<!--    </dd>-->
</dl>
<!--<script type="text/javascript">-->
<!--    //<![CDATA[-->
<!--    scrollTop.init();-->
<!--    //]]>-->
<!--</script>-->
<div id="hetu"></div>
<div class="foot">
    网站简介 | 商务合作 | 版权声明 | 联系我们 | 网站地图<p>Copyright&nbsp;@&nbsp;2022&nbsp;&nbsp;All Rights Reserved.</p>
</div>
<!--<script type="text/javascript" src="/command/init.js"></script>-->
</body>

</html>